@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    padding: 12px;
    text-align: center;
    background-color: rgb(33, 150, 176);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 3.5em;
}

header p {
    width: 100%;
    padding: 12px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(33, 150, 176);
}

nav {
    width: 100%;
    margin-bottom: 30px;
    padding: 4px;
    text-align: center;
    background-color: rgba(32, 162, 103, 0.66);
    
}

nav > a {
    margin: 30px;
    padding: 8px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

section {
    display: grid;
    margin: 12px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
}

div.img-1 {
    height: 300px;
    background-image: url(../imagens/escola-atenas.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 1/2;
}

div.img-2 {
    height: 300px;
    background-image: url(../imagens/monalisa.jpg);
    background-size: cover;
    background-position: top center;
    grid-column: 2/3;
}

div.img-3 {
    height: 300px;
    background-color: darkred;
    background-image: url(../imagens/nasc-venus.png);
    background-size: cover;
    grid-column: 1/3;
}

div.img-4 {
    height: 300px;
    background-image: url(../imagens/morte-socrates.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 1/2;
}

div.img-5 {
    height: 300px;
    background-image: url(../imagens/abaporu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
}

div.img-6 {
    background-image: url(../imagens/lavrador.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 2/3;
    grid-row-start: 3;
    grid-row-end: 5;
}

div.img-7 {
    height: 300px;
    background-image: url(../imagens/santa-ceia.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 1/3;
}
