@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: darkred;
}

h1 {
    padding: 20px;
    text-align: center;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    font-size: 3.5em;
}

h2 {
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

nav {
    width: 100%;
    margin-bottom: 30px;
    padding: 2px;
    text-align: center;
    background-color: black;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.503);
}

nav > a {
    margin: 20px;
    padding: 4px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
}

section {
    display: grid;
    position: relative;
    margin: 25px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 18px;
}

div a {
    text-decoration: none;
}

div.img-1 {
    height: 300px;
    background-image: url(../imagens/escola-atenas.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 1/2;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.500);
}

div.img-1 p {
    position: relative;
    top: 87.5%;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.600);
}

div.img-2 {
    height: 300px;
    background-image: url(../imagens/monalisa.jpg);
    background-size: cover;
    background-position: top center;
    grid-column: 2/3;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.503);
}

div.img-2 p {
    position: relative;
    top: 87.5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.600);
}

div.img-3 {
    height: 300px;
    background-color: darkred;
    background-image: url(../imagens/nasc-venus.png);
    background-size: cover;
    grid-column: 1/3;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.503);
}

div.img-3 p {
    position: relative;
    top: 87.5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.600);
}

div.img-4 {
    height: 300px;
    background-image: url(../imagens/morte-socrates.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 1/2;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.503);
}

div.img-4 p {
    position: relative;
    top: 87.5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.600);
}

div.img-5 {
    height: 300px;
    background-image: url(../imagens/abaporu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    grid-column: 1/2;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.503);
}

div.img-5 p {
    position: relative;
    top: 87.5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.600);
}

div.img-6 {
    background-image: url(../imagens/lavrador.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 2/3;
    grid-row-start: 3;
    grid-row-end: 5;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.503);
}

div.img-6 p {
    position: relative;
    top: 94%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.600);
}


div.img-7 {
    height: 300px;
    background-image: url(../imagens/santa-ceia.jpg);
    background-size: cover;
    background-position: center center;
    grid-column: 1/3;
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.503);
}

div.img-7 p {
    position: relative;
    top: 87.2%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.600);
}

div p:hover {
    background-color: black;
    color: antiquewhite;
}